# Server
NODE_ENV=development
PORT=3000
HOST="0.0.0.0"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/practica_farmacy_db?schema=public"

# JWT
JWT_SECRET=your-super-secret-jwt-key-min-32-chars-long
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your-super-secret-refresh-key-min-32-chars
JWT_REFRESH_EXPIRES_IN=7d

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379
